/*
  Author: Group 1
  Date: 
  Description: Style sheet for Lewie's website
*/

/*  **  Handles the background for the entire site  **  */
body{
    background-image: url("images/dragon_red.png");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.75);
}

/*  **  index_view.class.php  **  */
header{
    /* For all headers */
    font-family: "Lucida Calligraphy", cursive;
    border: 5px solid black;
    background-color: rgba(255, 215, 0, 0.85);
}

header h1{
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
}

footer{
    /* For all footers */
    background-color: rgba(255, 215, 0, 0.85);
    border: 5px solid black;
    font-weight: bold;
}

footer #copyright-complete{
    font-family: Arial, serif;
    font-size: 1em;
}

#copyright-complete{
    text-align: center;
}

/*  **  welcome_index.class.php  **  */
nav{
    text-align: center;
}

nav a{
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-decoration: none;
    border: 1px dotted black;
    padding: 5px;
    margin: 5px;
    background-color: rgba(255, 215, 0, 0.75);
}

nav a:hover{
    background-color: red;
}

nav a:active{
    background-color: grey;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

#intro{
    padding: 25px 100px;
    margin: 50px 0;
    line-height: 30px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.85);
    color: gold;
}

#featured{
    /* Displays some offered dishes */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#featured img{
    width: 300px;
    height: 210px;
}

#first-featured p, #second-featured p, #third-featured p, #fourth-featured p{
    /* Label under picture */
    background-color: rgba(255, 215, 0, 0.75);
    margin-top: 0;
    padding: 10px 0;
    border-left: 5px dotted black;
    border-bottom: 5px solid black;
    border-right: 5px dotted black;
    width: 290px;
    font-weight: bold;
    font-size: 1.25em;
}

/*  ** menu_index.class.php **  */
#menu-index{

}

#menu-detail-all{
    background-color: rgba(255, 215, 0, 0.90);
    margin: auto;
    border: 2px solid black;
    width: 80%;
}

.detail-image-all{
    float: left;
    padding: 10px;
}

.detail-labels-all, .detail-info-all{
    display: flex;
    padding-top: 20px;
}

.detail-labels-all th, .detail-info-all td{
    margin-bottom: 10px;
    font-size: 1.25em;
}

.detail-labels-all{
    flex-direction: column;
    float: left;
    text-align: right;
}

.detail-info-all{
    flex-direction: column;
    padding-left: 10px;
}

.menu-pic{
    width: 250px;
    height: 250px;
}

.product{
    font-weight: bold;
    text-decoration: none;
    margin-bottom: -20px;
    margin-top: -5px;
}

.category{
    margin-bottom: -10px;
}

/*  ** menu_detail.class.php **  */
#menu-detail{
    background-color: rgba(255, 215, 0, 0.90);
    margin: auto;
    border: 2px solid black;
    width: 80%;
}

.detail-image{
    float: left;
    padding: 10px;
}

.detail-labels, .detail-info{
    display: flex;
    padding-top: 20px;
}

.detail-labels th, .detail-info td{
    margin-bottom: 10px;
    font-size: 1.25em;
}

.detail-labels{
    flex-direction: column;
    float: left;
    text-align: right;
}

.detail-info{
    flex-direction: column;
    padding-left: 10px;
}

.detail-buttons{
    margin: 0 10px;
    font-weight: bold;
}

.detail-buttons:hover, .detail-buttons a:hover{
    color: red;
    background-color: black;
}

#button-group{
    margin: 10px 0;
    text-align: center;
}

/*  ** menu_edit.class.php **  */
#edit-form{
    background-color: rgba(255, 215, 0, 0.85);
    padding-bottom: 10px;
}

#edit-fieldset{
    border: .5em ridge black;
}

#edit-fieldset legend{
    font-weight: bolder;
    font-size: 2em;
    color: black;
}

#edit-fieldset .edit-left{
    float: left;
    width: 100px;
    clear: left;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.15em;
}

#edit-fieldset .edit-right{
    margin-top: 10px;
    display: block;
}

.edit-buttons{
    margin: 0 10px;
    font-weight: bold;
}

.edit-buttons:hover{
    color: red;
    background-color: black;
}

/*  ** menu_index_view.class.php **  */
#searchbar{
    text-align: center;
    margin-top: 20px;
}

#menu-list-button{
    text-decoration: none;
    color: black;
}

#pagination{
    background-color: rgba(255, 215, 0, 0.85);
    width: 600px;
    margin: auto;
    padding: 10px 0;
    color: black;
    font-weight: bold;
    border: 2px dashed black;
}

/*  ** menu_error.class.php **  */
.menu-error-msg{
    background-color: rgba(255, 215, 0, 0.85);
    margin: auto;
    padding: 100px 10px;
    text-align: center;
}

.menu-error-msg h3{
    color: red;
}

.menu-error-msg .return-button{
    margin-bottom: 20px;
}

/* logout page style*/
.logout{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}
.pagination {
    list-style-type: none;
    padding: 10px 0;
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.pagination li {
    box-sizing: border-box;
    padding-right: 10px;
}
.pagination li a {
    box-sizing: border-box;
    background-color: black;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 215, 0, 0.75);
    border-radius: 4px;
}
.pagination li a:hover {
    color: red;
    background-color: black;
}
.pagination .next a, .pagination .prev a {
    text-transform: uppercase;
    font-size: 12px;
}
.pagination .currentpage a {
    background-color: darkorange;
    color: #fff;
}
.pagination .currentpage a:hover {
    background-color: darkorange;
}